*:root{
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background: linear-gradient(135deg,#6959CD, #3d1e6d, #191970	); /* Roxo escuro e azul */
            color: white;
            scroll-behavior: smooth;
            --switch-bg-url :url("moon-stars.svg");
        }
        .section {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 60px;
            min-height: 100vh;
            opacity: 0;
            transition: opacity 0.5s ease-in-out;
        }
            #about {
                padding: 20px 10px; /* Antes era 60px */
                margin: 20px auto; /* Reduzindo espaçamento */
                max-width: 800px; /* Evita que fique muito larga */
            }

            #about h2 {
                font-size: 22px; /* Antes estava maior, agora ocupa menos espaço */
            }

            #about p, #about ul {
                font-size: 16px; /* Texto um pouco menor */
                line-height: 1.4; /* Ajusta espaçamento das linhas */
            }
            #about p {
                text-align: justify;
            }
        .container {
            display: flex;
            max-width: 900px;
            background: rgba(255, 255, 255, 0.1);
            box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
            border-radius: 10px;
            backdrop-filter: blur(10px);
            padding: 20px;
            align-items: center;
            flex-direction: column;
            text-align: center;

        }
        .profile-img {
            width: 180px;
            height: 180px;
            border-radius: 50%;
            object-fit: cover;
            border: 3px solid white;
            margin-bottom: 20px;
        }
        .content {
            text-align: left;
        }
#contact .social-links a {
            display: inline-block;
            margin: 10px 5px;
            text-decoration: none;
            font-size: 18px;
            color: black; !important
            font-weight: bold;
            transition: 0.3s;
        }
        .social-links a:hover {
            color: black;
        }
        .projects {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            max-width: 1200px;
            background: rgba(255, 255, 255, 0.1);
            box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
            border-radius: 10px;
            backdrop-filter: blur(10px);
            padding: 40px;
            text-align: left;
            opacity: 0;
            transition: opacity 1s ease-in-out;
        }
        .project-item {
            width: 30%;
            margin-bottom: 20px;
            margin-right: 20px;
            opacity: 0;
            transition: opacity 1s ease-in-out;
        }
        .project-item img {
            width: 100%;
            height: 200px;
            border-radius: 10px;
            object-fit: cover;
        }
        .project-item h3 {
            text-align: center;
        }
        .skills-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 80%;
            margin: 20px 0;
        }
        .skill {
            background: rgba(255, 255, 255, 0.2);
            border-radius: 5px;
            padding: 10px;
            margin: 5px;
        }
        .contact-form input, .contact-form textarea {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            border-radius: 5px;
            border: none;
        }
        .contact-form button {
            background-color: #ffcc00;
            color: #1b3b6f;
            padding: 10px 20px;
            border-radius: 5px;
            border: none;
            cursor: pointer;
        }
        .scroll-down {
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            font-size: 20px;
            cursor: pointer;
            animation: bounce 1.5s infinite;
        }
        @keyframes bounce {
            0%, 100% {
                transform: translateY(0);
            }
            50% {
                transform: translateY(-10px);
            }
        }
        /* Responsividade */
        @media (max-width: 768px) {
            .container {
                flex-direction: column;
                text-align: center;
            }
            .profile-img {
                width: 150px;
                height: 150px;
            }
            .projects {
                flex-direction: column;
            }
            .project-item {
                width: 100%;
            }
            .skills-list {
                flex-direction: column;
            }    
        }
       
            #switch{
                position: relative;
                width: 66px;
                margin: 4px auto;
              }
              #switch button{
                width: 32px;
                height: 32px;
                background: white var(--switch-bg-url) no-repeat center ;
                border: 0;
                border-radius: 50%;
                position: absolute;
                z-index: 1;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                animation: slide-out 0.2s;
              }
              #switch button:hover{
                outline: 8px solid var(--hightligh-color);
              }
              #switch span{
                display: block;
                width: 64px;
                height: 24px;
                background: var(--suface-color);
                border: 1px solid var(--stroke-color);
                backdrop-filter: blur(4px);
                -webkit-backdrop-filter: blur(4px);
                border-radius: 9999px;
        }

        *.light{
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background: linear-gradient(135deg,#B0E0E6, #D8BFD8, #E6E6FA); /* Roxo escuro e azul */
            color: black;
            scroll-behavior: smooth;
            --switch-bg-url :url("Sun.svg");
        }
        .section {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 60px;
            min-height: 100vh;
            opacity: 0;
            transition: opacity 1s ease-in-out;
        }
        .container {
            display: flex;
            max-width: 900px;
            background: rgba(255, 255, 255, 0.1);
            box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
            border-radius: 10px;
            backdrop-filter: blur(10px);
            padding: 20px;
            align-items: center;
            flex-direction: column;
            text-align: center;
        }
        .profile-img {
            width: 180px;
            height: 180px;
            border-radius: 50%;
            object-fit: cover;
            border: 3px solid black;
            margin-bottom: 20px;
        }
        .content {
            text-align: left;
        }
#contact .social-links a {
            display: inline-block;
            margin: 10px 5px;
            text-decoration: none;
            font-size: 18px;
            color: black; !important
            font-weight: bold;
            transition: 0.3s;
        }
            .social-links a:hover {
                        color: black;
        }
        .projects {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            max-width: 1200px;
            background: rgba(255, 255, 255, 0.1);
            box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
            border-radius: 10px;
            backdrop-filter: blur(10px);
            padding: 40px;
            text-align: left;
            opacity: 0;
            transition: opacity 1s ease-in-out;
        }
        .project-item {
            width: 30%;
            margin-bottom: 20px;
            margin-right: 20px;
            opacity: 0;
            transition: opacity 1s ease-in-out;
        }
        .project-item img {
            width: 100%;
            height: 200px;
            border-radius: 10px;
            object-fit: cover;
        }
        .project-item h3 {
            text-align: center;
        }
        .skills-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 80%;
            margin: 20px 0;
        }
        .skill {
            background: rgba(255, 255, 255, 0.2);
            border-radius: 5px;
            padding: 10px;
            margin: 5px;
        }
        .contact-form input, .contact-form textarea {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            border-radius: 5px;
            border: none;
        }
        .contact-form button {
            background-color: #ffcc00;
            color: #1b3b6f;
            padding: 10px 20px;
            border-radius: 5px;
            border: none;
            cursor: pointer;
        }
        .scroll-down {
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            font-size: 20px;
            cursor: pointer;
            animation: bounce 1.5s infinite;
        }
        @keyframes bounce {
            0%, 100% {
                transform: translateY(0);
            }
            50% {
                transform: translateY(-10px);
            }
        }
        /* Responsividade */
    @media (max-width: 768px) {
        .container {
            flex-direction: column;
            text-align: center;
        }
        .profile-img {
            width: 150px;
            height: 150px;
        }
        .projects {
            flex-direction: column;
        }
        .project-item {
            width: 100%;
        }
        .skills-list {
            flex-direction: column;
        }    
    }
    .reveal {
        opacity: 1 !important;
        #switch{
                position: relative;
                width: 66px;
                margin: 4px auto;
              }
              #switch button{
                width: 32px;
                height: 32px;
                background: white var(--switch-bg-url) no-repeat center ;
                border: 0;
                border-radius: 50%;
                position: absolute;
                z-index: 1;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                animation: slide-out 0.2s;
              }
              .light #switch button {
                animation: slide-in 0.4s forwards;
              }              
              }
              #switch span{
                display: block;
                width: 64px;
                height: 24px;
                background: var(--suface-color);
                border: 1px solid var(--stroke-color);
                backdrop-filter: blur(4px);
                -webkit-backdrop-filter: blur(4px);
                border-radius: 9999px;
        }
